
/**
 * Built for Seven.
 */

/**
 * Form.
 */

.form-managed-file .form-submit + .file-edit-button {
	margin-left: 1em;
}

/**
 * Modal.
 */

.file-edit-modal {
	position: fixed;
}
.file-edit-modal > .ui-dialog-content {
	overflow: visible;
	padding: 10px;
}
.file-edit-modal .ui-button-text-only .ui-button-text {
	padding: 0;
}
