
/**
 * Built for Seven.
 */

/**
 * Modal page.
 */

html #branding {
	display: none;
}

html #page {
  margin: 0 10px 0 0;
  padding: 5px;
}

html .form-actions {
	position: absolute;
	left: -9999px;
	height: 0;
	overflow: hidden;
}
